[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
wtforms = "*"
pytest = "*"
flask-wtf = "*"
flask-bootstrap = "*"
parsedatetime = "*"
flask-login = "*"
markdown = "*"


[dev-packages]

