{% extends 'base.html' %} {% block content %} {{super()}}
<!--  -->
<div class="container">
    {% if context.error %}
    <div class="alert alert-danger  ">
        <h1 class="">
            Error
        </h1>
        <p class="">{{ context.error }}</p>
    </div>
    {% endif %} {% if context.success %}
    <div class="alert alert-success  ">
        <h1 class="">
            Success
        </h1>
        <p class="">{{ context.success }}</p>
    </div>
    {% endif %}
    <div class="jumbotron">
        {% if context.latest_entry%}
        {% if context.days_since_latest > 0 %}
        <h2> Remember this from {{context.days_since_latest}} day(s) ago?</h2>
        {% else %}
        <h2> Today's entry </h2>
        {% endif %}
        <p>
            {{context.latest_entry.html|safe}}
        </p>
        {% else %}
        <h2> Hi {{current_user.first_name}}. It looks pretty empty in here. Upload a journal? </h2>
        <p>
            Make sure it's a text file in this format:
        <pre>2018-03-15
Something about the Ides of March.
2018-11-05
Remember remember the fifth of November.</pre>
        It's just that easy.
        </p>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-md-6" id="upload_div">
                <h2>Upload or export your journal </h2>
                <div>
                    <p>
                    <form class="upload_form {% if context.error %}alert alert-danger{% endif %}" method="POST"
                          action="{{url_for('home')}}" enctype="multipart/form-data">
                        {{context.upload_form.hidden_tag()}}
                        <!--  -->
                        {{render_field(context.upload_form.file)}}
                        <input class="btn btn-primary" type="submit" value="submit">
                    </form>
                    {{context.file_contents}}
                    </p>
                    <p>
                        <a class="btn btn-default" href="{{url_for('export_journal')}}">Export</a>
                    </p>
                </div>

            </div>
            {% if context.latest_entry %}

            {% if context.days_since_latest > 0 %}

            <div class="col col-md-6" id="plugins_div">
                <h2> Write Today's Entry</h2>
                <p>
                    <a href="{{url_for('create_entry')}}" class="btn btn-success">Today</a>
                </p>
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
    <h1 class="text-center">Archive</h1>
    <hr>
    <div>
        {% for year in context.entries_tree|reverse %} {{render_year(year, context.entries_tree[year])}} {% endfor %}
    </div>
</div>
<!--  -->
{% endblock %}