{% extends 'journal_plugins_plugin_index_base.html' %} {% block content %} {{super()}}
<!--  -->
<div class="container">
    <div class="jumbotron">
        <h1>
            MTG Cardfetcher
        </h1>
        <p>
            These are the cards that you've mentioned in the last 30 days.
        </p>
    </div>
    <div>
        <h2>
            Summary
        </h2>
        {% for tup in context.summary %}
        <span class="btn btn-default">
            {{tup[0]|safe}} - {{tup[1]}}
        </span>
        {% endfor %}

    </div>
    <div>
        <h2>Entries</h2>

        <ul>
            {% for item in context.objects %}
            {% if item.output|length > 0 %}
            <li>
                <h3>
                    <a href="{{item.entry.url}}">
                        {{item.entry.date_human}}
                    </a>
                </h3>
                <ul>
                    {% for card in item.output %}
                    <li>
                        {{card.html|safe}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}

        </ul>
    </div>

</div>

{% endblock %}