{% macro render_field(field) %}
<p>
    {{ field.label }} {{ field(**kwargs)|safe }} {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</p>
{% endmacro %}

<head>
    <title>Journal App</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/default.css">
</head>

<body>
    <div>
        <a href="{{url_for('index')}}">Home</a>
        {% if get_latest_entry() %}
        <a href="{{link_for_entry(get_latest_entry())}}">Latest</a>
        {% endif %}
    </div>
    {% block body %} {% endblock %}
</body>