{% extends "bootstrap/base.html" %}
<!--  -->
{% macro render_field(field) %}
<p>
    {{ field.label }} {{ field(**kwargs)|safe }} {% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li class="text-danger">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</p>
{% endmacro %}
<!--  -->
{% macro render_breadcrumbs(breadcrumbs) %}
<!--  -->
{% for br,num in breadcrumbs %}
<!--  -->
{% if num %} {% if not loop.last %} <a class="btn btn-default" href="{{br}}">{{num}}</a>/ {% else %} <span class="">{{num}}</span> {% endif %}
<!--  -->
{% endif %}
<!--  -->
{% endfor %}
<!--  -->
{% endmacro %}
<!--  -->
{% macro render_month(month, entries) %}
<div class="month_div">
    <h3>
        <span class="pull-left">{{month}}</span> <span class="pull-right">({{entries|length}})</span>
    </h3>
    <div class="day_buttons text-center">
        <!--  -->
        {% for entry in entries %}
        <a class="btn btn-default"  href="{{link_for_entry(entry)}}">
                {{entry.create_date.day}}
        </a>
        <!--  -->
        {% endfor %}
    </div>
</div>
<!--  -->
{% endmacro %}<!---->
<!--  -->
{% macro render_year(year, year_obj) %}
<div class="card card_archive">
    <div class="card_title text-center">
        {{year}} ({{year_obj.num_entries}})
    </div>
    <div class="contents">
        <div class="description">
            {% for month in year_obj.months|reverse %}
            {{render_month(month, year_obj.months[month])}} {% endfor %}
        </div>

    </div>
</div>
{% endmacro %}


{% macro render_entry_card(entry) %}
<div class="jumbotron card">
    <div class="card_title">
        {{entry.date_human}}
    </div>

    <div class="contents">
        <div class="description">
            {{entry.html|safe}}

        </div>
        <form class="options" action="{{url_for('delete_entry',id=entry['id'])}}" method="GET">
            <a class="btn btn-success"
               href="{{url_for('edit_entry',id=entry['id'])}}">Edit</a>
            <a class="btn btn-primary"
               href="{{entry.url}}">Visit</a>


            <input type="submit" class="btn btn-warning" value="Delete">
        </form>
    </div>
</div>
{% endmacro %}


<head>
    {% block head %}
    <title>Journal App</title>
    {{super()}}
    <!-- custom -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/default.css">
    {% endblock %}
</head>

<body>
<div class="container"
     {% block content %}{{super()}}{% include
"navbar.html" %}

{% endblock %}
</body>


{% block scripts %}
{{super()}}
<script type="text/javascript">

var isodate = function(){
    var local = new Date();
    local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
    return local.toJSON().slice(0,10);
}
</script>

{% endblock %}


</body>