{% extends 'base.html' %}

{% block content %} {{super()}}
<div class="container">
    <div>
        <a href="{{context.back}}">
            <button class="btn">Back</button>
        </a>
        <h1>{{context.heading}}</h1>
    </div>
    <div>
        {% for e in context.errors %}
        <div class="alert alert-danger">
            {{e}}
        </div>
        {% endfor %}
    </div>

    <form action="{{context.action}}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            {{render_field(context.form.create_date,label='test')}}

            {{context.form.hidden_tag()}}
            <label for="contents">Entry contents</label>
            <p>We support <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax for fancy
                formatting of your entries that still looks good as raw text!</p>
            <textarea name="contents" id="contents" class="form-control entry_editor" rows="15">{{context.form.contents.data}}</textarea>

            {% if not context.create %}

            <div class="hidden">

                {{render_field(context.form.owner_id)}}
                {{render_field(context.form.id)}}

            </div>

            {% endif %}


        </div>
        <input class="btn btn-success" type="submit" value="submit">

    </form>
</div>

{% endblock %}

{% block scripts %}

{{super()}}
<script type="text/javascript">

var isodate = function(){
    var local = new Date();
    local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
    return local.toJSON().slice(0,10);
}
if (document.getElementById('create_date').value.length == 0){
document.getElementById('create_date').value = isodate();

}
window.onbeforeunload = function() {
  return "Are you sure you want to navigate away?";
}




</script>


<!-- Include the required files -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>


            <!-- Start simple MDE -->

    var simplemde = new SimpleMDE({
        element: document.getElementById("contents"),
        styleSelectedText: false,
        <!--spell checker might be the culprit of editing glitches on mobile-->
        spellChecker: false,
    });



</script>


{% endblock %}
