{% extends 'base.html' %} {% block content %} {{super()}}
<!--  -->
<div class="container">
    {% if context.error %}
    <div class="alert alert-danger  ">
        <h1 class="">
            Error
        </h1>
        <p class="">{{ context.error }}</p>
    </div>
    {% endif %} {% if context.success %}
    <div class="alert alert-success  ">
        <h1 class="">
            Success
        </h1>
        <p class="">{{ context.success }}</p>
    </div>
    {% endif %}
    {% if context.latest_entry%}
    {% if context.days_since_latest > 0 %}
    <h1> Remember this from {{context.days_since_latest}} day(s) ago?</h1>
    {% else %}
    <h1> Today's entry</h1>

    {% endif %}
    {{render_entry_card(context.latest_entry)|safe}}
    {% else %}
    <div class="card">
        <div class="card_title"> Hi {% if current_user.first_name %} {{current_user.first_name}}. {% else %} there! {%
            endif %} It looks
            pretty empty in here.
        </div>
        <div class="contents">
            <div class="description">
                <a href="{{url_for('create_entry')}}" class="btn btn-success">Write your first entry</a>
            </div>
        </div>
    </div>

    {% endif %}
    <div class="container">
        <div class="row">

            <div class="col col-md-6" id="plugins_div">
                <div class="card">

                    <div class="card_title"> Write a new entry.</div>
                    <div class="contents">
                        <div class="description">
                            <a href="{{url_for('create_entry')}}" class="btn btn-success">New entry</a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-md-6" id="upload_div">
                <div class="card">

                    <div class="card_title">Upload or export your journal</div>
                    <div class="contents">
                        <form class="upload_form {% if context.error %}alert alert-danger{% endif %}" method="POST"
                              action="{{url_for('home')}}" enctype="multipart/form-data">

                            <div class="description">


                                {{context.upload_form.hidden_tag()}}
                                <!--  -->
                                {{render_field(context.upload_form.file)}}


                            </div>
                            <div class="options">
                                <input class="btn btn-primary" type="submit" value="submit">
                                <a class="btn btn-default" href="{{url_for('export_journal')}}">Export</a>
                            </div>
                        </form>

                    </div>
                    {{context.file_contents}}

                </div>
            </div>

        </div>
    </div>
    <h1 class="text-center">Archive</h1>
    <hr>
    <div>
        {% for year in context.entries_tree|reverse %} {{render_year(year, context.entries_tree[year])}} {% endfor %}
    </div>
</div>
<!--  -->
{% endblock %}