{% extends 'base.html' %} {% block body %} {{super()}}
<!--  -->
<div id="upload_div">
    <h2>Upload Journal File</h2>
    <form class="upload_form" method="POST" action="{{url_for('index')}}" enctype="multipart/form-data">
        {{context.form.hidden_tag()}}
        <!--  -->
        {{render_field(context.form.file)}}
        <input type="submit" value="submit">
    </form>
    {{context.file_contents}}
</div>
<div>
    Years: {% for year in get_all_years() %} {{year.year}} {% endfor %}
</div>
<div>
    {% for entry in context.entries %}
    <p>
        <a href="{{link_for_entry(entry)}}">{{entry.date_string}}</a>
    </p>
    {% endfor %}
</div>
<!--  -->
{% endblock %}