{% extends 'base.html' %} {% block content %} {{super()}}
	<div class='container container-fluid'>
		{% if context.error %}
			<div class='alert alert-danger'>
				{{context.error}}
			</div>
		{% endif %}
	<form  class="register_form " method="POST" action="{{url_for('register')}}" enctype="multipart/form-data">
		{{context.register_form.hidden_tag()}}
		<!--  -->
		{{render_field(context.register_form.username)}}
		{{render_field(context.register_form.password)}}
		{{render_field(context.register_form.email)}}
		<input class="btn btn-success" type="submit" value="submit">
	</form>
	</div>
{% endblock %}