.plugins_output {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.plugin_output{
	margin: 1em;
	height: 100%;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
}

img {
	max-width: 100%;
	max-height: 100vh;
}

.entry_editor{
    height: 100vh;
}

#upload_div > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#upload_div > div > p{
    padding-top: 1vh;

}

.big_button_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.big_button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: large;
    border: 1px solid #DDDDDD;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;

}

.big_button:hover{
    border: 100px solid darken(#DDDDDD, 10%);
    background: darken(#E76C67, 10%);
}


.plugin_overview_card{
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1em;
    padding-bottom: 0.1em;
    border-radius: 0.5em;
    border: 0.1em solid #efefef;



}

.plugin_overview_card:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.plugin_overview_card > .card_title{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;

}

.plugin_overview_card > .contents{
    margin: 0.5em;
}

.plugin_overview_card > .contents > .options {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: 0.5em;
}