{% extends 'base.html' %} {% block content %} {{super()}}
<div class="container">
    <h1>Your Insights</h1>
    <div>
        {% for item in context.plugins %}
        <div class="plugin_overview_card">

            <div class="card_title">
                <a href="{{item.plugin.url}}">

                    {{item.plugin.name}}
                </a>
            </div>
            <div class="contents">
                <div class="description">
                    {{item.plugin.description}}
                </div>
                <div class="options">
                    <a href="{{item.plugin.url}}" class="btn btn-default">Visit
                    </a>
                    <div>
                        {% if item.preference.enabled %}
                        <a href="" class="btn btn-success">
                            Enabled
                        </a>
                        {% else %}
                        <a href="" class="btn btn-warning">
                            Disabled
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        <div>

            <a href="{{url_for('site.plugins-settings')}}">Customize your Insights</a>
        </div>

    </div>
</div>
{% endblock %}