{% extends 'base.html' %} {% block content %} {{super()}}
<div class="container">
    <h1>Your Insights</h1>
    <ul class="list-group">
        {% for item in context.plugins %}
        <li class="list-group-item">
            <a href="{{item.plugin.url}}">{{item.plugin.name}}</a>
            <span class="pull-right">
                {% if item.preference.enabled %}
                <div class="btn btn-success">Enabled</button>
                    {% else %}
                <div class="btn btn-warning">Disabled</div>

                {% endif %}
            </div>
        </li>
        {% endfor %}

    </ul>
    <div>

        <a href="{{url_for('site.plugins-settings')}}">Customize your Insights</a>
    </div>

</div>

{% endblock %}