{% extends 'base.html' %} {% block content %} {{super()}}
<!--  -->
<div class="container container-fluid">
    <div class="jumbotron">
        <h1>
            Word Counter
        </h1>
    </div>
    <div>
        <div class="card">
            <div class="card_title">Stats</div>
            <div class="contents">
                <div class="description">
                    <h3>
                        Words in this period:
                        {{context.summary.num_words}}

                    </h3>
                    <h3>
                        Sum of unique words per day:
                        {{context.summary.num_unique_words}}

                    </h3>

                     <h3>Table</h3>
        <div class="container container-fluid">
            <table>
                <tr class="row">
                    <td class="col col-xs-4">
                        Entry
                    </td>
                    <td class="col col-xs-4">
                        Word count
                    </td>
                    <td class="col col-xs-4">
                        Unique
                    </td>
                </tr>

                {% for item in context.objects %}


                <tr class="row">
                    <td class="col col-xs-4">

                        <a class="class=" pull-left" href="{{item.entry.url}}">
                        <span class="btn btn-default">

                    {{item.entry.date_string}}
    </span>

                        </a>
                    </td>
                    <td class="col col-xs-4">

                        {{item.num_words}}
                    </td>
                    <td class="col col-xs-4">
                        {{item.num_unique_words}}
                    </td>
                </tr>


                {% endfor %}
            </table>

        </div>

                </div>
            </div>
        </div>


    </div>

</div>

{% endblock %}