{% macro render_pagination(pagination, endpoint, search) %}
<div class=pagination>
    {%- for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <a class="btn btn-default" href="{{ url_for(endpoint, page=page, search=search) }}">{{ page }}</a>
    {% else %}
    <strong>{{ page }}</strong>
    {% endif %}
    {% else %}
    <span class=ellipsis>…</span>
    {% endif %}
    {%- endfor %}
</div>
{% endmacro %}

{% extends 'journal_plugins_plugin_index_base.html' %} {% block content %} {{super()}}
<!--  -->
<div class="container container-fluid">
    <div class="jumbotron">

        <h1>
            Indexer
        </h1>
    </div>

    <div class="card">
        <div class="card_title">
            Index of the 30 day period leading up to {{context.end}}

        </div>
        <div class="contents">
            <div class="description text-center">
                <form action="{{url_for('site.plugins-headings_indexer-index')}}" method="GET">
                    Got to the index for a different day:
                    <input id="end" label="test" name="end" type="date" value="{{context.end}}">
                    <input class="btn btn-primary" type="submit" label="Submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    {% if context.summary %}
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <h2>

                </h2>
                {% for obj in context.summary_objects %}
                <div class="card">
                    <a href="{{obj.entry.url}}" class="card_title">

                        {{obj.entry.date_human}}

                    </a>
                    <div class="contents">
                        {% if obj.output|length == 0 %}

                        <div class="description alert alert-warning">
                            [ No headings ]


                        </div>
                        {% else %}

                        <div class="description">

                            {% for parse_result in obj.output %}
                            <div>
                                {{parse_result.html }}

                            </div>
                            {% endfor %}


                        </div>

                        {% endif %}

                        <div class="options">
                            <a class="btn btn-success" href="{{obj.entry.url}}">Visit this entry</a>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="col col-md-4">
                <h2>
                    Stats
                </h2>
                <ol>

                    {% for tup in context.summary.most_common %}
                    <li>
                        <a class="btn btn-default" href="{{url_for('site.plugins-name_search-index',search=tup[0])}}">
                            {{tup[0]}}

                            - {{tup[1]}} times
                        </a>

                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>


    </div>
    {% endif %}
</div>

{% endblock %}


{% block scripts %}

{{super()}}
<script type="text/javascript">
var isodate = function(){
    var local = new Date();
    local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
    return local.toJSON().slice(0,10);
}

var el = document.getElementById('end_date') ;
if (el.value.length == 0){
el.value = isodate();

}



</script>

{% endblock %}
