{% extends 'base.html' %} {% block content %} {{super()}}
<div class="container container-fluid">
    <h1>Delete this entry?</h1>
    <div class="jumbotron">
        <h1>
            {{context.entry.date_human}}
        </h1>
    </div>
    <form action="{{url_for('delete_entry',id=context.entry.id)}}" method="POST">
        <div class="big_button_container">
            <a class="btn btn-primary big_button" href="{{context.back_url}}">
                No, take me back!
            </a>
            <input type="submit" class="btn btn-danger big_button" value="Delete it!">
        </div>
    </form>
</div>
{% endblock %}