{% extends 'base.html' %} {% block content %} {{super()}}
<div class="container">
    <h1> Privacy Policy</h1>

    <h2>Your data is yours</h2>
    <p>
        Any data you give to our service is only accessible to you and, if necessary, site administrators.
    </p>
    <p>
        Your password is stored in an encrypted form. If it is stolen by a malicious third party they can't use it to log in to your other accounts.
    </p>
    <p>
        Your journal entries are stored as plain text.
    </p>
    <p>
        Your account and all associated data can be deleted by you or by sending a request to site administrators.
    </p>
    <h2>You control who sees what</h2>
    <p>
        Only you and site administrators have access to your data. Other users are unable to access anything data you share with this site.
    </p>
    <p>
        You are in charge of who sees and uses your data
    </p>
    <h2>We will remain accountable</h2>
    <p>
        All users and also applicable authorities will be immediately notified in the event of a data breach.
    </p>
    <p>
        Users will also be notified when there are upcoming changes to the way data is handled.
    </p>

</div>
{% endblock %}